<div class="container">
    <div class="arrow-block arrow-left">
        <div class="arrow">
            <img src="./../assets/Images/arrow-left.svg" alt="arrow-left">
        </div>
    </div>
    <div class="items-list">
        <div class="item item1">
            <img src="./../assets/Images/news1.png" alt="image1" class="photo">
        </div>
    </div>
    <div class="arrow-block arrow-right">
        <div class="arrow">
            <img src="./../assets/Images/arrow-right.svg" alt="arrow-right">
        </div>
    </div>
    <div class="bottom-strip">
        <div class="page-btn"></div>
        <div class="page-btn"></div>
        <div class="page-btn active"></div>
    </div>
</div>