<div class="container">
  <div class="wrapper">
    <div class="upper-block">
      <a href="/">Anires.ru</a> Copyright © 2010-2018, All rights reserved
    </div>
    <div class="middle-block">
      <div class="text">
        Реестр Аниме / AniRes Project не содержит лицензионного контента, мы предоставляет только поисковый алгоритм для нахождения файлов, которые расположены на сайтах донорах. Сайты доноры несут полную ответственность за содержание данного контента. Вся информация взята из свободных для доступа источников с указаннием этих самых первоисточников. Наш сервис не предендует на авторство контента и по любым замечаениям правообладателей мы незамедлительно удалим его. Администрация не скрывает информацию о сайтах донорах и даёт дружественные ссылки для их прямого посещения. Вся информация, которая содержится на AniRes Project предоставляется совершенно бесплатно и только для ознакомительных целей. По всех вопросам обращайтесь в Книгу Вопросов, это прямая связь с Администрацией. Напоминаем, сайт содержит эротику (не порно) для Взрослых!
      </div>
    </div>
    <div class="down-block">
      <ul>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Связаться с нами</a></li>
        <li><a href="/">Мобильная версия</a></li>
        <li><a href="/">Отзывы</a></li>
        <li><a href="/">Вопросы</a></li>
        <li><a href="/">Предложения</a></li>
      </ul>
    </div>
  </div>
</div>