<div class="container">
  <div class="wrapper">
    <ul class="header-menu">
      <li class="logo" title="Проект - Anires">
        <app-logo></app-logo>
      </li>
      <li title="Разделы">Разделы</li>
      <li title="Новости">Новости</li>
      <li title="Календарь событий">Календарь</li>
      <li title="Форум">Форум</li>
      <li title="Пользовательский чат">Чат</li>
      <li title="Помощь по работе с сайтом">Помощь</li>
      <li title="Поиск по сайту">Поиск</li>
      <li title="Информация о нас">О нас</li>
      <li title="Аутентификация / Регистрация">Войти / Зарегестрироваться</li>
    </ul>
  </div>
</div>